.App {
    margin: auto;
    width: 50%;
}

.Swap {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.Pool {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.button {
    margin: 10px 0;
}

.token {
    font-weight: bold;
}

.link {
    margin-right: 10px;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.link-selected {
    text-decoration: underline;
    font-weight: bold;
}

.nav {
    width: max-content;
    margin: auto;
}
